body {
    color: rgb(240, 240, 240);
    background: radial-gradient(circle, rgba(27, 27, 27, 0.726) 20%, rgb(66, 65, 65) 90%);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    margin-top: 6em;
    height: 85vh;
    overflow-y: hidden;
    width: 95vw;

    @media screen and (max-width: 480px) {
        width: 100vw;
    }
}

.aboutUs-container {
    width: 40vw;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 4em;

    @media screen and (max-width: 800px) {
        width: 60vw;
    }
}